:root {
  --background_transparency: 80%;
  --background_main_color: 20%;
}

.project-card {
  transition: 0.6s;
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
  position: absolute;
  width: 200px;
  background-repeat: repeat;
  background-size: 30px 30px;
  background-position: 3px 3px;
  transition: all 0.6s;
  color: #202020;
}

.project-card:hover {
  opacity: 1;
  color: #000;
}

.project-card.foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 196px;
  bottom: 0;
  z-index: -1;
  opacity: 0.98;
  background-color: white;
  border: 2px solid rgb(0, 0, 0, 0.75);
}

.project-card:hover .project-card.foreground {
  opacity: 0.9;
  /* border: 2px solid #ffffff99; */
  border: 2px solid rgb(0, 0, 0, 0.02);
}

.project-card.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(15px, 12px);
  background-repeat: repeat;
  background-size: 30px 30px;
  background-position: -12px -9px;
  z-index: -2;
  opacity: 0.1;
}

.project-card:hover .project-card.background {
  opacity: 0.9;
}

.project-card h2 {
  font-weight: 700;
  text-shadow: 0 0 0.6rem white;
}

.project-card h3 {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  font-weight: 500;
  text-shadow: 0 0 0.6rem white;
  cursor: pointer;
  text-decoration: underline;
  margin-block-start: auto;
  margin-block-end: 8px;
}

.project-card h4 {
  font-size: 11px;
  font-weight: 300;
  margin-block-start: 4px;
  margin-block-end: 0;
  text-shadow: 0 0 0.6rem white;
}

.project-card p {
  font-weight: 600;
  text-shadow: 0 0 0.6rem white;
}

.project-card img {
  min-height: 100px;
  transition: all 0.6s;
  filter: brightness(0.9) contrast(0.85) saturate(0.85) brightness(1.2);
}

.project-card:hover img {
  transition: all 0.6s;
  filter: brightness(1) contrast(1) saturate(1) brightness(1.1);
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}
/* 
.Architecture {
  box-shadow: 10px 10px 0px 0 color-mix(in oklab, var(--Architecture) var(--background_main_color), transparent var(--background_transparency));
}

.Urbanism {
  box-shadow: 10px 10px 0px 0 color-mix(in oklab, var(--Urbanism) var(--background_main_color), transparent var(--background_transparency));
}

.Design {
  box-shadow: 10px 10px 0px 0 color-mix(in oklab, var(--Design) var(--background_main_color), transparent var(--background_transparency));
}

.Art {
  box-shadow: 10px 10px 0px 0 color-mix(in oklab, var(--Art) var(--background_main_color), transparent var(--background_transparency));
}

.Software {
  box-shadow: 10px 10px 0px 0 color-mix(in oklab, var(--Software) var(--background_main_color), transparent var(--background_transparency));
}

.Architecture:hover {
  border-color: var(--Architecture);
  box-shadow: 10px 10px 0 0 var(--Architecture);
}

.Urbanism:hover {
  border-color: var(--Urbanism);
  box-shadow: 10px 10px 0 0 var(--Urbanism);
}

.Design:hover {
  border-color: var(--Design);
  box-shadow: 10px 10px 0 0 var(--Design);
}

.Art:hover {
  border-color: var(--Art);
  box-shadow: 10px 10px 0 0 var(--Art);
}

.Software:hover {
  border-color: var(--Software);
  box-shadow: 10px 10px 0 0 var(--Software);
} */
