:root {
  --background_transparency: 60%;
  --background_main_color: 40%;
}

.project-card {
  transition: 0.6s;
  font-weight: 500;
  padding: 8px;
  border: 1px solid;
  cursor: pointer;
  border: 3px solid;
  border-color: rgb(25, 26, 36);
  background-color: white;
}

.project-card img {
  min-height: 100px;
  transition: all 0.5s;
}

.keywords {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}

.Architecture {
  box-shadow: 10px 10px 10px 0 color-mix(in oklab, var(--Architecture) var(--background_main_color), transparent var(--background_transparency));
}

.Urbanism {
  box-shadow: 10px 10px 10px 0 color-mix(in oklab, var(--Urbanism) var(--background_main_color), transparent var(--background_transparency));
}

.Design {
  box-shadow: 10px 10px 10px 0 color-mix(in oklab, var(--Design) var(--background_main_color), transparent var(--background_transparency));
}

.Art {
  box-shadow: 10px 10px 10px 0 color-mix(in oklab, var(--Art) var(--background_main_color), transparent var(--background_transparency));
}

.Software {
  box-shadow: 10px 10px 10px 0 color-mix(in oklab, var(--Software) var(--background_main_color), transparent var(--background_transparency));
}

.Architecture:hover {
  border-color: var(--Architecture);
  box-shadow: 10px 10px 0 0 var(--Architecture);
}

.Urbanism:hover {
  border-color: var(--Urbanism);
  box-shadow: 10px 10px 0 0 var(--Urbanism);
}

.Design:hover {
  border-color: var(--Design);
  box-shadow: 10px 10px 0 0 var(--Design);
}

.Art:hover {
  border-color: var(--Art);
  box-shadow: 10px 10px 0 0 var(--Art);
}

.Software:hover {
  border-color: var(--Software);
  box-shadow: 10px 10px 0 0 var(--Software);
}
