.drawer {
  width: 458px;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #111;
  transition: 0.3s;
  padding-top: 60px;
}
.drawer a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.drawer a:hover {
  color: #f1f1f1;
}
.drawer input {
  width: 450px;
}
.drawer textarea {
  width: 458px;
  height: calc(100vh - 140px);
  box-sizing: border-box;
  border: none;
  font-size: 12px;
}
