.project-image {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  margin: 0px auto;
}

.project-image.main-image img {
  z-index: 99;
  width: 100%;
  object-fit: cover;
}

.font-large {
  font-size: 80px;
  padding: 30px;
  transition: all 0.3s;
  -webkit-text-stroke: 2px black;
  paint-order: stroke fill;
}

@media screen and (max-width: 570px) {
  .font-large {
    font-size: 50px;
    padding: 20px;
  }
}

.font-medium {
  font-size: 35px;
  padding: 10px 15px;
}

.font-small {
  background-color: black;
  font-size: 15px;
  padding: 3px 6px;
}

.project-image img {
  object-fit: cover;
}

.center-center {
  position: absolute;
  top: min(50%, 50vh);
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-left {
  position: absolute;
  top: min(50%, 50vh);
  left: 0;
  transform: translateY(-50%);
}

.center-right {
  position: absolute;
  top: min(50%, 50vh);
  right: 0;
  transform: translateY(-50%);
}

.bottom-center {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.top-center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.image-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
}

.image-grid-content {
  position: relative;
  color: white;
  font-weight: 300;
}

.image-grid-content img {
  display: block;
  max-width: calc(100vw - 20px);
  max-height: 450px;
  object-fit: cover;
}

@media screen and (max-width: 570px) {
  .image-grid-content img {
    width: 100%;
    height: min-content;
    object-fit: cover;
  }
}
