/* Style the header with a grey background and some padding */

.header {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: calc(100% - 4px);
  padding: 2px;

  z-index: 1;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}

.header:hover::before {
  opacity: 1;
}

/* Style the header links */
.header button {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header button.button {
  font-size: 1rem;
  transition: 0.5s;
  filter: invert(0);
}

.header button.button-active {
  font-size: 1rem;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  transition: 0.5s;
  filter: invert(18%) sepia(52%) saturate(4747%) hue-rotate(241deg) brightness(63%) contrast(127%);
}

/* Change the background color on mouse-over */
.header button.button:hover {
  transition: 0.5s;
  filter: invert(18%) sepia(49%) saturate(4708%) hue-rotate(336deg) brightness(94%) contrast(95%);
}

/* Change the background color on mouse-over */
.header button.button-active:hover {
  opacity: 80%;
  transition: 0.5s;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  transform: show 0.5s;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  min-width: 100px;
  z-index: 1;
}
