@font-face {
  font-family: 'Italic'; /*Can be any text*/
  src: local('MontserratItalic'), url('./assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Regular'; /*Can be any text*/
  src: local('MontserratRegular'), url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
  margin: 0;
  font-weight: 900;
  font-family: 'MontserratRegular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'MontserratRegular';
}
