.project-image {
  position: relative;
  text-align: center;
  color: white;
}

.project-image.main-image img {
  width: min(1350px, 100vw);
  object-fit: cover;
}

.font-large {
  font-size: 80px;
  padding: 30px;
  transition: all 0.3s;
}

@media screen and (max-width: 600px) {
  .font-large {
    font-size: 50px;
    padding: 20px;
  }
}

.font-medium {
  font-size: 35px;
  padding: 10px 15px;
}

.font-small {
  background-color: black;
  font-size: 15px;
  padding: 3px 6px;
}

.project-image img {
  object-fit: cover;
}

.center-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
}

.center-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
}

.bottom-center {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.bottom-left {
  position: absolute;
  bottom: 0%;
  left: 0%;
  transform: translate(0%, 0%);
}

.bottom-right {
  position: absolute;
  bottom: 0%;
  right: 0%;
  transform: translate(0%, 0%);
}

.top-center {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.image-grid {
  display: flex;
  max-width: min(100vw, 1200px);
  justify-content: space-evenly;
  gap: 30px;
  padding: 20px;
  flex-wrap: wrap;
}

.image-grid-content {
  position: relative;
  object-fit: cover;
  color: white;
  font-weight: 300;
  height: 450px;
}

.image-grid-content img {
  max-width: 100svw;
  height: 450px;
  object-fit: cover;
}

.images-content {
  display: flex;
  width: 100%;
}
