.project-chip {
  transition: all 0.5s;
  opacity: 0.85;
  box-shadow: none;
  font-weight: 300;
}

.project-chip.hidden {
  width: 0;
  height: 0;
  color: white;
  background-color: white;
  padding: 0 !important;
  opacity: 0;
}

.project-chip.show {
  width: auto;
  height: auto;
}

.project-chip:hover {
  opacity: 0.5;
}
